Self_Service_DQ_Pipeline-version-2.json
{"snapshotMetadata":{"bucketIdentifier":null,"flowIdentifier":"ac60c6eb-9578-47f8-a692-9e426affd24c","version":0,"timestamp":1683914568790,"author":null,"comments":null,"link":null},"flowContents":{"identifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","instanceIdentifier":null,"name":"Self_Service_DQ_Pipeline","comments":null,"position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"4e47b480-3ee1-4ed6-8350-a307a743010a","instanceIdentifier":null,"name":"Exception_Handler","comments":null,"position":{"x":1778.2186948896951,"y":950.511957404756},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d2ab851a-243d-473b-94eb-5be1e7e01c9e","instanceIdentifier":null,"name":"PublishKafka2CDPFailures","comments":"","position":{"x":125.0,"y":357.50000381469727},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka2CDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.0.0.2.3.8.2-2"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"#{KafkaBrokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"PLAIN","max.block.ms":"5 sec","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringProducerInterceptor","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":"milind.pandit","use-transactions":"false","acks":"all","aws.profile.name":null,"security.protocol":"SASL_SSL","ssl.context.service":"648a016d-b044-41ea-be0f-360aa39f04a5","max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"#{DestinationTopicName}","sasl.password":"#{Password}","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4e47b480-3ee1-4ed6-8350-a307a743010a"}],"inputPorts":[{"identifier":"cdffbd1f-7ff1-45c4-8413-b9f7b6dc71ff","instanceIdentifier":null,"name":"GetException","comments":null,"position":{"x":166.0,"y":180.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":null,"componentType":"INPUT_PORT","groupIdentifier":"4e47b480-3ee1-4ed6-8350-a307a743010a"}],"outputPorts":[],"connections":[{"identifier":"f5e0db0d-0e32-4d5c-9300-ef7d65b856c4","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"cdffbd1f-7ff1-45c4-8413-b9f7b6dc71ff","type":"INPUT_PORT","groupId":"4e47b480-3ee1-4ed6-8350-a307a743010a","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"d2ab851a-243d-473b-94eb-5be1e7e01c9e","type":"PROCESSOR","groupId":"4e47b480-3ee1-4ed6-8350-a307a743010a","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4e47b480-3ee1-4ed6-8350-a307a743010a"},{"identifier":"21134d98-3037-40ac-9378-6c8b0171d9ac","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"d2ab851a-243d-473b-94eb-5be1e7e01c9e","type":"PROCESSOR","groupId":"4e47b480-3ee1-4ed6-8350-a307a743010a","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"6a21120b-55d1-4eb3-98e7-2cb1614002dc","type":"FUNNEL","groupId":"4e47b480-3ee1-4ed6-8350-a307a743010a","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4e47b480-3ee1-4ed6-8350-a307a743010a"}],"labels":[],"funnels":[{"identifier":"6a21120b-55d1-4eb3-98e7-2cb1614002dc","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":226.0,"y":667.0000038146973},"componentType":"FUNNEL","groupIdentifier":"4e47b480-3ee1-4ed6-8350-a307a743010a"}],"controllerServices":[],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"DQSS_MP","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"}],"remoteProcessGroups":[],"processors":[{"identifier":"fb54059d-9844-402c-9326-c035f721c975","instanceIdentifier":null,"name":"addHTTPHeader","comments":"","position":{"x":733.0127943754583,"y":723.7092462510614},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"Authorization":"Bearer ${token}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"5f9f1750-0cb0-4e77-8432-eb074794fdcf","instanceIdentifier":null,"name":"ExtractDQResultMsg","comments":"","position":{"x":684.4340660949115,"y":1849.0562079009924},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","entireFlow":"(?s)(^.*$)","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"true","Maximum Capture Group Length":"200000000","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"485948e5-8ca1-47e8-a197-b635aaf44e70","instanceIdentifier":null,"name":"GetDQScanResult","comments":"","position":{"x":200.14885492620908,"y":1083.1227470433041},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Proxy Host":null,"Attributes to Send":"Authorization","use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Basic Authentication Password":null,"cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://3.95.250.213:9000/v2/gethoot?dataset=${dataset_name}&runId=${run_date}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","invokehttp-proxy-password":null,"ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":"nifi-test-1"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"c7f94202-a3c6-49f4-89fc-3a04bcc26f8d","instanceIdentifier":null,"name":"ExtractDQResultMsg","comments":"","position":{"x":191.7955069876988,"y":2228.954760404763},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","entireFlow":"(?s)(^.*$)","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"true","Maximum Capture Group Length":"200000000","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"9c995b0c-d4bb-4f63-94f0-56ab2b2e2d23","instanceIdentifier":null,"name":"PutDQResultS3","comments":"","position":{"x":1220.909374664237,"y":1841.8070632410836},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","Access Key":"#{Access Key ID}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","proxy-user-password":null,"Content Type":null,"Secret Key":"#{Secret Access Key}","Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"owl-mp","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-west-1","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"670dd949-bf47-41d1-8fa4-ef7134aec303","instanceIdentifier":null,"name":"LowDQDemo","comments":"(Dataset Ready for Scan)","position":{"x":480.6270471187988,"y":-8.778777610118667},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":"application/json","generate-ff-custom-text":"{\n  \"username\": \"admin\",\n  \"password\": \"CDQi-0e7d1f9ae7300de90\",\n  \"iss\": \"public\"\n}","Batch Size":"1","Unique FlowFiles":"false","dataset_name":"dataset.patient","Data Format":"Text","accept":"*/*","run_date":"2022-02-01"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"25 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"d19ff1be-aaea-4fd8-99da-c11603eb80d0","instanceIdentifier":null,"name":"GoodDQDemo","comments":"(Dataset Ready for Scan)","position":{"x":-86.61955070495605,"y":-9.07308578491211},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":"application/json","generate-ff-custom-text":"{\n  \"username\": \"admin\",\n  \"password\": \"CDQi-0e7d1f9ae7300de90\",\n  \"iss\": \"public\"\n}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text","accept":"*/*","dataset_name":"samples.sales_data","run_date":"2023-05-07"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"20 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"f5ef6f89-b098-446f-a7bd-ac63e66ae951","instanceIdentifier":null,"name":"PutSlackOnDQIssue","comments":"There is DQ issue with the dataset.","position":{"x":194.2868802410244,"y":2529.639525784807},"type":"org.apache.nifi.processors.slack.PutSlack","bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"icon-emoji":null,"webhook-url":"#{Webhook URL}","webhook-text":"DQ Issue with Dataset: ${dataset}\nRun Date: ${runId} ${uuid} Slack Sent: ${now()}${entireFlow.0}","channel":null,"icon-url":null,"username":null},"propertyDescriptors":{"icon-emoji":{"name":"icon-emoji","displayName":"Icon Emoji","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"webhook-url":{"name":"webhook-url","displayName":"Webhook URL","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"webhook-text":{"name":"webhook-text","displayName":"Webhook Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"channel":{"name":"channel","displayName":"Channel","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"icon-url":{"name":"icon-url","displayName":"Icon URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"username":{"name":"username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"ae01cc99-8ca3-4221-bf54-b85c91c6a81d","instanceIdentifier":null,"name":"RunDQScan","comments":"","position":{"x":746.5455075640998,"y":1080.4620274429124},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Proxy Host":null,"Attributes to Send":"Authorization","use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Basic Authentication Password":null,"cookie-strategy":"ACCEPT_ALL","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://3.95.250.213:9000/v3/jobs/run?dataset=${dataset_name}&runDate=${run_date}&agentName=local_agent","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","invokehttp-proxy-password":null,"ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":"nifi-1"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"68020e33-e925-49c7-9d4e-a8ae77efdc0a","instanceIdentifier":null,"name":"ExtractDQScore","comments":"","position":{"x":196.95361038679016,"y":1479.031056298867},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Destination":"flowfile-attribute","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","shapeScore":"$.shapeScore","score":"$.score","dataset":"$.dataset","runId":"$.runId","rows":"$.rows"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"511eef49-dc3a-4f29-bb88-370451a160e7","instanceIdentifier":null,"name":"RouteBasedOnDQScore","comments":"","position":{"x":186.56126877302063,"y":1850.828419580117},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Routing Strategy":"Route to Property name","goodScore":"${score:gt(75)}","lowDQScore":"${score:lt(75)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"37e3841c-b745-4d83-bbda-fd98a85d501a","instanceIdentifier":null,"name":"CollibraDQAuth","comments":"Authenticate Collibra Data Quality ","position":{"x":192.47543334960938,"y":380.6590270996094},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Basic Authentication Password":null,"cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://3.95.250.213:9000/v3/auth/signin","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","invokehttp-proxy-password":null,"ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":"nifi1"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"b0be7fc1-3d67-425c-89ae-4f463f40f684","instanceIdentifier":null,"name":"ExtractBearerToken","comments":"","position":{"x":195.7538556168771,"y":744.7448692366793},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Destination":"flowfile-attribute","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","token":"$.token"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"53457f76-1c0f-4be7-8da8-7439d14c7f9a","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"670dd949-bf47-41d1-8fa4-ef7134aec303","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"37e3841c-b745-4d83-bbda-fd98a85d501a","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"3312cda9-8609-401a-9473-fda31b4d19d4","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"511eef49-dc3a-4f29-bb88-370451a160e7","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"c7f94202-a3c6-49f4-89fc-3a04bcc26f8d","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["lowDQScore","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"a2af83b2-9138-4ca6-a12f-549320a704c9","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"bf58982a-79d6-459b-9e9c-7e98a5916f41","type":"FUNNEL","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"cdffbd1f-7ff1-45c4-8413-b9f7b6dc71ff","type":"INPUT_PORT","groupId":"4e47b480-3ee1-4ed6-8350-a307a743010a","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"f99d6aeb-f619-4e08-b9a9-066e9b2f603a","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"ae01cc99-8ca3-4221-bf54-b85c91c6a81d","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"485948e5-8ca1-47e8-a197-b635aaf44e70","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"9e86c578-59dc-4c3e-a6e9-ea47741e5dcd","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"f5ef6f89-b098-446f-a7bd-ac63e66ae951","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"24ff6fb6-fb85-4c97-ac97-74a4189bcac7","type":"FUNNEL","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"db721ba3-f037-433a-8dfd-cb96f6c810de","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"b0be7fc1-3d67-425c-89ae-4f463f40f684","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"fb54059d-9844-402c-9326-c035f721c975","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"6fd36887-1efd-46fc-863f-def19a2931c2","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"37e3841c-b745-4d83-bbda-fd98a85d501a","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"b0be7fc1-3d67-425c-89ae-4f463f40f684","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"5464a78c-9b89-42e6-b689-d61b561b08cb","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"77d05596-fbc5-4b02-97de-fcd40a651fcd","type":"FUNNEL","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"cdffbd1f-7ff1-45c4-8413-b9f7b6dc71ff","type":"INPUT_PORT","groupId":"4e47b480-3ee1-4ed6-8350-a307a743010a","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"00c9420b-3b68-43df-9230-b59db535b943","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"5f9f1750-0cb0-4e77-8432-eb074794fdcf","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"3cc9536f-192c-4c01-8e4f-52186865af9a","type":"FUNNEL","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"c040704b-1ccc-44c7-891f-d7a17f3465d1","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"d19ff1be-aaea-4fd8-99da-c11603eb80d0","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"37e3841c-b745-4d83-bbda-fd98a85d501a","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"0218aabe-910f-4194-9854-a561b7603259","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"ae01cc99-8ca3-4221-bf54-b85c91c6a81d","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"906c7d6a-8f30-4ee7-908c-30dd013e566a","type":"FUNNEL","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"1aed8e9d-5945-4697-87de-3c333c3345f4","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"5f9f1750-0cb0-4e77-8432-eb074794fdcf","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"9c995b0c-d4bb-4f63-94f0-56ab2b2e2d23","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"090c5cba-d29d-4e98-a977-05a41e5f4144","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"9c995b0c-d4bb-4f63-94f0-56ab2b2e2d23","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"bf58982a-79d6-459b-9e9c-7e98a5916f41","type":"FUNNEL","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"34b24622-1c4f-461b-8e24-dbefc5869df9","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"fb54059d-9844-402c-9326-c035f721c975","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"ae01cc99-8ca3-4221-bf54-b85c91c6a81d","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"a9fa1e86-881b-4c08-af50-b2b0c0860294","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"c7f94202-a3c6-49f4-89fc-3a04bcc26f8d","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"164fa9be-cfcc-4653-86df-19770072f83b","type":"FUNNEL","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"c90062c6-7b11-4b4f-8a92-d4aab51ed1fc","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"485948e5-8ca1-47e8-a197-b635aaf44e70","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"68020e33-e925-49c7-9d4e-a8ae77efdc0a","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"3713e54d-4000-43be-a7e6-1c9a34148f06","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"f5ef6f89-b098-446f-a7bd-ac63e66ae951","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"164fa9be-cfcc-4653-86df-19770072f83b","type":"FUNNEL","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"ba9bba8e-ac15-42f1-b400-f7bfc5a59bad","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"37e3841c-b745-4d83-bbda-fd98a85d501a","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"77d05596-fbc5-4b02-97de-fcd40a651fcd","type":"FUNNEL","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"b23f7207-6d52-4d5b-b94d-3a9ac579394b","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"164fa9be-cfcc-4653-86df-19770072f83b","type":"FUNNEL","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"cdffbd1f-7ff1-45c4-8413-b9f7b6dc71ff","type":"INPUT_PORT","groupId":"4e47b480-3ee1-4ed6-8350-a307a743010a","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"d4409239-1e0b-465f-ab50-ddb55bb41c00","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"511eef49-dc3a-4f29-bb88-370451a160e7","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"5f9f1750-0cb0-4e77-8432-eb074794fdcf","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["goodScore"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"608b10b4-6e38-493f-8b51-01a94a2d152b","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"3cc9536f-192c-4c01-8e4f-52186865af9a","type":"FUNNEL","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"cdffbd1f-7ff1-45c4-8413-b9f7b6dc71ff","type":"INPUT_PORT","groupId":"4e47b480-3ee1-4ed6-8350-a307a743010a","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"4136af40-1ce6-4aff-8da3-8f362edd1510","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"ae01cc99-8ca3-4221-bf54-b85c91c6a81d","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"ae01cc99-8ca3-4221-bf54-b85c91c6a81d","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":1134.248435974121,"y":1140.943603515625},{"x":1208.5455075640998,"y":1132.9620274429124},{"x":1208.5455075640998,"y":1202.9620274429124}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"e5fde1ab-0fba-47af-9840-cae835f7de48","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"485948e5-8ca1-47e8-a197-b635aaf44e70","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"5c3032e4-e711-436f-a8c7-1f055316a9fc","type":"FUNNEL","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"be45c723-0a14-4a76-ad27-1e431ad32d23","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"c7f94202-a3c6-49f4-89fc-3a04bcc26f8d","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"f5ef6f89-b098-446f-a7bd-ac63e66ae951","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"3b2d2dba-0625-4a98-96f4-9f0e4ddd1d09","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"9c995b0c-d4bb-4f63-94f0-56ab2b2e2d23","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"708b1173-6cc5-4754-be6a-e2fd6d724da0","type":"FUNNEL","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"b474a048-6318-4c62-8b2e-3f0a97201507","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"68020e33-e925-49c7-9d4e-a8ae77efdc0a","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"511eef49-dc3a-4f29-bb88-370451a160e7","type":"PROCESSOR","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"f27ede7f-f999-4e4b-b3a5-e79432292b1b","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"906c7d6a-8f30-4ee7-908c-30dd013e566a","type":"FUNNEL","groupId":"d703d82b-c5a4-4c8a-b186-4ea2da72c143","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"cdffbd1f-7ff1-45c4-8413-b9f7b6dc71ff","type":"INPUT_PORT","groupId":"4e47b480-3ee1-4ed6-8350-a307a743010a","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"}],"labels":[{"identifier":"557bab7a-2876-446c-a19a-58baf00367dd","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":25.58726699888055,"y":350.6294623206616},"label":"Authenticate Collibra Data Quality (API) ","zIndex":null,"width":1128.0,"height":608.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"a9fc83d5-fa51-49f8-bbdd-29fd439846da","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":12.409683457514035,"y":1801.7966696474705},"label":"Dynamic Routing Decision Based on DQ Score: Good Score Write to S3, Bad Score Alert Slack channel.","zIndex":null,"width":1656.0,"height":1112.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"ac7fdaf1-dc3a-4c59-a82b-d6d7fa8e6cde","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":33.82321034606696,"y":1034.2100298196096},"label":"Execute Collibra DQ Job  and Extract DQ Result(Spark in the background)","zIndex":null,"width":1160.0,"height":648.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"e2701c6d-a041-4b26-a849-2f5ba7d8487b","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-259.3751691911973,"y":-49.635796830466774},"label":"DQ Demo Initiator with Good (Sales Data) and Bad Dataset (patient Data)","zIndex":null,"width":1168.0,"height":248.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"}],"funnels":[{"identifier":"3cc9536f-192c-4c01-8e4f-52186865af9a","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":1231.7089431543236,"y":1681.6238662619403},"componentType":"FUNNEL","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"bf58982a-79d6-459b-9e9c-7e98a5916f41","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":1819.1289101509058,"y":1884.9388518565127},"componentType":"FUNNEL","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"906c7d6a-8f30-4ee7-908c-30dd013e566a","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":892.0580925800193,"y":1350.1715895739803},"componentType":"FUNNEL","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"708b1173-6cc5-4754-be6a-e2fd6d724da0","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":1361.7133773661533,"y":2168.8476606774893},"componentType":"FUNNEL","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"164fa9be-cfcc-4653-86df-19770072f83b","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":1473.019539799632,"y":2461.2133072754295},"componentType":"FUNNEL","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"5c3032e4-e711-436f-a8c7-1f055316a9fc","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":627.364552023269,"y":1360.7125218759877},"componentType":"FUNNEL","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"77d05596-fbc5-4b02-97de-fcd40a651fcd","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":1002.57421875,"y":420.7419128417969},"componentType":"FUNNEL","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"},{"identifier":"24ff6fb6-fb85-4c97-ac97-74a4189bcac7","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":307.6242056410967,"y":2857.519019894524},"componentType":"FUNNEL","groupIdentifier":"d703d82b-c5a4-4c8a-b186-4ea2da72c143"}],"controllerServices":[],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"DQSS_MP","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":null},"externalControllerServices":{"648a016d-b044-41ea-be0f-360aa39f04a5":{"identifier":"648a016d-b044-41ea-be0f-360aa39f04a5","name":"Default NiFi SSL Context Service"}},"parameterProviders":null,"parameterContexts":{"DQSS_MP":{"identifier":"3aba81f6-130a-4b71-8d56-369addaa2c42","instanceIdentifier":null,"name":"DQSS_MP","comments":null,"position":null,"parameters":[{"name":"Webhook URL","description":null,"sensitive":true,"provided":false,"value":null},{"name":"Access Key ID","description":null,"sensitive":true,"provided":false,"value":null},{"name":"KafkaBrokers","description":null,"sensitive":false,"provided":false,"value":"oss-kafka-demo-corebroker2.oss-demo.qsm5-opic.cloudera.site:9093,\noss-kafka-demo-corebroker1.oss-demo.qsm5-opic.cloudera.site:9093,\noss-kafka-demo-corebroker0.oss-demo.qsm5-opic.cloudera.site:9093"},{"name":"DestinationTopicName","description":null,"sensitive":false,"provided":false,"value":"DQSSExceptions"},{"name":"Secret Access Key","description":null,"sensitive":true,"provided":false,"value":null},{"name":"Password","description":null,"sensitive":true,"provided":false,"value":null}],"inheritedParameterContexts":null,"description":null,"parameterProvider":null,"parameterGroupName":null,"synchronized":null,"componentType":"PARAMETER_CONTEXT","groupIdentifier":null}},"flowEncodingVersion":null,"flow":null,"bucket":null}